<div class="h-screen flex items-center justify-center">
  <div class="p-6 rounded-lg shadow-lg w-full max-w-sm">
    <h2 class="text-2xl font-semibold text-center mb-4">Login</h2>
    <form [formGroup]="form">
      <!-- Name Field -->
      <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text">Name</span>
        </div>
        <input
          type="text"
          name="name"
          placeholder="Enter your name"
          class="input input-bordered w-full max-w-xs"
          formControlName="name"
        />
        <div class="label">
          <span class="label-text-alt"></span>
          <span class="label-text-alt"></span>
        </div>
      </label>

      <!-- Password Field -->
      <label class="form-control w-full max-w-xs mt-4">
        <div class="label">
          <span class="label-text">Password</span>
        </div>
        <div class="relative">
          <input
            type="password"
            name="password"
            placeholder="Enter your password"
            class="input input-bordered w-full max-w-xs px-4 py-2 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
            formControlName="password"
          />
          <span
            class="absolute inset-y-0 right-4 flex items-center cursor-pointer"
            appTogglePassword
          >
            <!-- Eye Icon for Show Password -->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
              />
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M2.458 12C3.732 7.943 7.523 5 12 5c4.477 0 8.268 2.943 9.542 7-.274.832-.677 1.61-1.178 2.296M15 12a3 3 0 01-3-3M9 12a3 3 0 003 3M2.458 12c-.274.832-.677 1.61-1.178 2.296M15 12a3 3 0 01-3 3M9 12a3 3 0 003-3"
              />
            </svg>
          </span>
        </div>
        <div class="label">
          <span class="label-text-alt"></span>
          <span class="label-text-alt"></span>
        </div>
      </label>

      <!-- Submit Button -->
      <button
        class="btn btn-primary w-full max-w-xs mt-6"
        (click)="onSubmit()"
        [disabled]="form.invalid"
      >
        Login
      </button>
    </form>
  </div>
</div>
